<%= render 'application/errors', resource: @contact %>

<div class="card bg-light">
  <h1 class="card-header h4">Editing Contact</h1>
  <div class="card-body">
    <%= render 'form', contact: @contact %>
  </div>
  <div class="card-footer card-footer-actions">
    <div class="btn-group btn-group-sm pull-right" role="group">
      <%= link_to 'Show', @contact, class: 'btn btn-info' %>
      <%= link_to 'Back', contacts_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
