@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.page-footer {
  position: absolute;
  width: 100%;
  bottom: 0;

  &.bg-dark {
    a {
      color: $light;
      font-weight: bold;
    }
  }

  &.bg-dark .footer-copyright {
    background: darken($dark, 20%);
  }
}
