<div class="form-row">

  <input type="hidden"
    v-model="address.id"
    v-bind:id="'contact_addresses_attributes_' + index + '_id'"
    v-bind:name="'contact[addresses_attributes][' + index + '][id]'" />

  <div class="form-group col-8 col-md-2 push-md-1 order-1">
    <label class="sr-only" for="'contact_addresses_attributes_' + index + '_address_type'">Address Type</label>
    <select class="form-control" type="text"
      v-model="address.address_type"
      v-bind:id="'contact_addresses_attributes_' + index + '_address_type'"
      v-bind:name="'contact[addresses_attributes][' + index + '][address_type]'">
      <option>work</option>
      <option>home</option>
      <option>other</option>
    </select>
  </div><!-- /.form-group -->

  <div class="form-group col-4 col-md-2 order-2 order-md-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="1"
        v-bind:id="'contact_addresses_attributes_' + index + '_destroy'"
        v-bind:name="'contact[addresses_attributes][' + index + '][_destroy]'" />
      <label class="form-check-label"
        v-bind:for="'contact_addresses_attributes_' + index + '_destroy'">
        Delete?
      </label>
    </div>
  </div><!-- /.form-group -->

  <div class="form-group col-md-10 order-3 order-md-2">
    <label class="sr-only" for="'contact_addresses_attributes_' + index + '_body_street1'">Street Address</label>
    <input class="form-control" type="text" placeholder="Street Address"
      v-model="address.body.street1"
      v-bind:id="'contact_addresses_attributes_' + index + '_body_street1'"
      v-bind:name="'contact[addresses_attributes][' + index + '][body][street1]'" />
  </div><!-- /.form-group -->

  <div class="form-group  col-7 col-md-6 order-4">
    <label class="sr-only" for="'contact_addresses_attributes_' + index + '_body_city'">City</label>
    <input class="form-control" type="text" placeholder="City"
      v-model="address.body.city"
      v-bind:id="'contact_addresses_attributes_' + index + '_body_city'"
      v-bind:name="'contact[addresses_attributes][' + index + '][body][city]'" />
  </div><!-- /.form-group -->

  <div class="form-group col-2 col-md-1 order-4">
    <label class="sr-only" for="'contact_addresses_attributes_' + index + '_body_state'">State</label>
    <input class="form-control" type="text" placeholder="State"
      v-model="address.body.state"
      v-bind:id="'contact_addresses_attributes_' + index + '_body_state'"
      v-bind:name="'contact[addresses_attributes][' + index + '][body][state]'" />
  </div><!-- /.form-group -->

  <div class="form-group col-3 col-md-3 order-4">
    <label class="sr-only" for="'contact_addresses_attributes_' + index + '_body_zip'">Zip</label>
    <input class="form-control" type="text" placeholder="Zip"
      v-model="address.body.zip"
      v-bind:id="'contact_addresses_attributes_' + index + '_body_zip'"
      v-bind:name="'contact[addresses_attributes][' + index + '][body][zip]'" />
  </div><!-- /.form-group -->

</div><!-- /.form-row -->
