// @import '~bootstrap/scss/variables';

.navbar-avatar {

  z-index: 999;

  border-radius: 50%;

  box-shadow: $btn-box-shadow;

  background-color: transparent;

  width: 48px;

  height: 48px;
}

.navbar-avatar-img {
  display: inline-block;
  position: relative;

  z-index: 998;

  border-radius: inherit;

  width: inherit;

  height: inherit;
}
