// @import '~bootstrap/scss/variables';
.navbar-avatar-toggle-hide {
  @include media-breakpoint-up(lg) {
    padding: 0;

    &::after {
      display: none;
    }

    .navbar-avatar-toggle-text {
      display: none;
    }
  }
}

.navbar-avatar {
  display: inline-block;
  position: relative;

  bottom: $border-width * 2;

  border: $border-width solid $secondary;

  border-radius: $border-radius;

  width: 20px;

  height: 20px;

  @include media-breakpoint-up(lg) {
    bottom: 0;

    border-radius: 50%;

    box-shadow: $btn-box-shadow;

    background-color: transparent;

    width: 40px;

    height: 40px;
  }
}
